.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number_page {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 2px 2px;
  color: #fff;
  background-color: #007bff;
  border-color: #fff;
  
  &:hover {
    background-color: #0069D9;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0 7px #82B1E5;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
  
}

.active {
  outline: 2px solid #000000;
}