.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 40%;
  padding: 15px 15px;
  margin: 0 auto;
}

.listContainer {
  flex: 1 1 auto;
}

.form {
  margin-bottom: 5px;
}

.altText {
  text-align: center;
}
