.btn {
  border-radius: 5px;
  padding: 6px 8px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  min-width: 50px;

  &:hover {
    background-color: #0069D9;
  }

  &:active {
    box-shadow: 0 0 7px #82B1E5;
  }

  &_mr {
    margin-right: 5px;
  }
}