.checkbox {
  flex: 0 0 30px;
  border-radius: 5px;
  height: 30px;
  background-color: #eee;
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

.img {
  margin-top: 3px;
  width: 100%;
  height: 100%;

  &:active {
    transform: translate(0px, 2px);
  }
}